/// Event wrapper
/// @author SmartInCode $bg-url,

/// Define color and height of box-elements
///banckground color and height
@mixin bgc($min-height, $bg-color: transparent) {
  background-color: $bg-color;
  min-height: $min-height;
}

///banckground image and height
@mixin bgi($bg-image, $min-height, $bg-position: center, $bg-repeat: no-repeat, $bsize: cover) {
  $bg-image: "../images/" + $bg-image;
  background: url($bg-image) $bg-repeat $bg-position;
  background-size: $bsize;
  min-height: $min-height;
}

///banckground image and height
@mixin bgio($bg-image, $bg-position: center, $bg-repeat: no-repeat, $bsize: cover) {
  $bg-image: "../images/" + $bg-image;
  background: url($bg-image) $bg-repeat $bg-position;
  background-size: $bsize;
}

/// Define params Container width and padding
@mixin container($max-width, $pad-left, $pad-right: $pad-left, $box-s: content-box) {
  box-sizing: $box-s;
  max-width: $max-width;
  padding-left: $pad-left;
  padding-right: $pad-right;
}

///fonts elements
@mixin fonts(
  $font-family,
  $font-size: medium,
  $font-color: black,
  $font-weight: normal,
  $font-style: normal,
  // $line-height: normal
) {
  color: $font-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  font-style: $font-style;
  // line-height: $line-height;
}

///define flex center
@mixin flexcen($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

///define absolute center
@mixin abscen($top: 50%, $right: 50%, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: translate($right, -$top);
  position: absolute;
}
