/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
  padding: 0;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

/*    h5 title    */
h5 {
  @include fonts($font-family-averta, medium, black, normal, normal);
}
