/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
  padding: 0;
}

///    h5 title
// @include fonts($font-family-averta, SizeMedium, black, weightNormal, StyleNormal);
h5 {
  @include fonts($font-family-averta, 30px, $white-color, 300);
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h1 {
  @include fonts($font-family-raleway, 127px, $white-color, 300);
  @media (max-width: 768px) {
    font-size: 80px;
  }

  @media (max-width: 576px) {
    font-size: 60px;
  }
}

p {
  @include fonts($font-family-raleway, 18px, $black-color);
  line-height: 36px;
  &.italics {
    @include fonts($font-family-raleway, 24px, $white-color, normal, italic);
    line-height: normal;
  }
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 28px;
    &.italics {
      font-size: 20px;
    }
  }
  @media (max-width: 576px) {
    font-size: 10px;
    line-height: 18px;
    &.italics {
      font-size: 15px;
    }
  }
}

h2 {
  @include fonts($font-family-raleway, 99px, $black-color, 900);
  @media (max-width: 576px) {
    font-size: 50px;
  }
}

/// link
a {
  display: block;
  text-decoration: none;
  @include fonts($font-family-raleway, 21px, $white-color, 600);
  @media (max-width: 576px) {
    font-size: 12px;
  }
}

h4 {
  @include fonts($font-family-raleway, 30px, $white-color, 700);
  @media (max-width: 576px) {
    font-size: 15px;
  }
}

h3 {
  @include fonts($font-family-raleway, 31px, $black-color, 700);
  @media (max-width: 576px) {
    font-size: 16px;
  }
}

h6 {
  @include fonts($font-family-raleway, 12.22px, $silver-color, 900);
  @media (max-width: 576px) {
    font-size: 10px;
  }
}
/**
 *  Class
 */

/* btn */
.violet-btn {
  $size: 68px;
  max-width: 228px;
  min-height: $size;
  line-height: $size;
  background-color: $violet-color;
  @media (max-width: 576px) {
    $size: 34px;
    max-width: 150px;
    min-height: $size;
    line-height: $size;
  }
}

.btn-link {
  position: relative;
  transition: all 0.3s ease;
  width: max-content;
  @include fonts($font-family-raleway, 24px, $black-color, 700);
  &::before {
    position: absolute;
    content: "";
    background-color: $black-color;
    bottom: 0;
    height: 1.5px;
    width: 100%;
  }
  &:hover {
    color: $violet-color;
    &::before {
      background-color: $violet-color;
    }
  }
  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.container {
  @include container(1160px, 130px, 130px);
  @media (max-width: 1200px) {
    padding: 0 120px;
  }
  @media (max-width: 992px) {
    padding: 0 100px;
  }
  @media (max-width: 768px) {
    padding: 0 80px;
  }
  @media (max-width: 576px) {
    padding: 0 40px;
  }
}
