/**
 *  Hero
 */
.hero {
  @include bgi("hero_bg.png", 880px);
  @include flexcen();
  text-align: center;
  @media (max-width: 992px) {
    min-height: 770px;
  }
  @media (max-width: 576px) {
    min-height: 440px;
  }
  h1 {
    padding-bottom: 50px;
    @media (max-width: 576px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  p {
    max-width: 600px;
    padding-bottom: 50px;
    @media (max-width: 576px) {
      padding-bottom: 25px;
    }
  }
  a {
    @media (max-width: 576px) {
    }
  }
}

/**
 *  About
 */
.about {
  $padding-lr: 170px;
  padding: 140px 0 210px;
  h2 {
    padding-bottom: 75px;
    padding-right: $padding-lr;
    text-align: end;
  }
  .about-history {
    // @include bgi("about_bg.png", auto, end, no-repeat, contain);
    background-image: url(../images/about_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100% - 170px);
    position: relative;
    padding-left: $padding-lr;
    padding-bottom: 100px;
    p {
      margin-left: 0;
      background-color: $white-color;
      max-width: 330px;
      padding-right: 70px;
      padding-bottom: 90px;
    }
    a {
      margin-left: 0;
      padding: 70px 0 0;
    }
    .about-image {
      padding-right: $padding-lr;
      position: absolute;
      top: 50%;
      right: -85px;
      transform: translate(0, -50%);
    }
  }
}

/**
 *  team
 */
.team {
  display: inline-flex;
  width: 100%;
  &-history {
    margin-right: 0;
    padding-top: 135px;
    padding-left: 110px;
    max-width: 560px;
    width: 39%;
    background-image: url("../images/team_bg.png");
    background-repeat: no-repeat;
    background-position: right;
    // background-size: cover;
    h2 {
      margin: 0;
      padding-bottom: 35px;
      max-width: max-content;
    }
    p {
      margin: 0;
      max-width: 335px;
      padding-bottom: 40px;
    }
    a {
      margin: 0;
    }
  }
  &-photo {
    width: 100% - 39%;
    max-width: 880px;
    margin-top: 150px;
    margin-left: 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    .team-person {
      width: 50%;
      position: relative;
    }
    .team-person:nth-child(2) h4 {
      color: $black-color;
    }
    img {
      // height: 100%;
      width: 100%;
    }
    h4 {
      position: absolute;
      top: 54px;
      left: 54px;
    }
  }
}

/**
 *  tech
 */
.tech {
  padding: 145px 0 215px;
  h2 {
    text-align: center;
    padding-bottom: 60px;
  }
  &-content {
    display: inline-flex;
    width: 100%;
  }
}
.tech-history {
  &:first-child {
    margin-right: 0;
    img {
      padding-left: 40px;
    }
  }
  &:last-child {
    margin-left: 0;
    img {
      padding-top: 80px;
    }
  }
  h3 {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  p {
    margin-left: 0;
    max-width: 400px;
    padding-right: 80px;
  }
}

/**
 *  portfolio
 */
.port {
  display: flex;
  flex-wrap: wrap;
  .port-home {
    margin: 0;
    padding: 130px 0 110px;
    @include bgi("portfolio_bg.png", auto);
    width: 50%;
    h2,
    p {
      margin-left: 0;
      padding-left: 85px;
      color: $white-color;
    }
    h2 {
      padding-bottom: 40px;
    }
    p {
      max-width: 440px;
    }
  }
  .port-history {
    margin: 0;
    position: relative;
    width: 33.33%;
    text-align: end;
    &:first-child {
      width: 50%;
    }
    &:nth-child(4) {
      background-color: #734fce;
      h3 {
        color: $white-color;
      }
    }
    &:nth-child(5) {
      background-color: #371a87;
      h3 {
        color: $white-color;
      }
    }
    h3 {
      max-height: 350px;
      text-align: start;
      font-size: 24px;
      position: absolute;
      left: 75px;
      top: 75px;
    }
    img {
      width: 100%;
    }
  }
}

/** 
 *  video
 */
.port-video {
  // 140 155
  padding-top: 140px;
  padding-bottom: 155px;
  .container {
    @include flexcen(center, stretch);
  }
  p {
    max-width: 380px;
    padding-right: 110px;
  }
  div {
    position: relative;
    object[data*="play"] {
      @include abscen();
    }
  }
}

/**
 *    Press
 */
.press {
  @include bgi("press_bg.png", auto);
  padding: 160px 0;
  display: grid;
  grid-template-columns: 55fr 88fr;
  &-home {
    h2 {
      padding-bottom: 45px;
    }
    p {
      max-width: 300px;
      // padding-left: 130px;
      // padding-right: 130px;
    }
  }
  &-history {
    p {
      font-size: 21px;
      font-weight: bold;
      line-height: normal;
    }
  }
}

/* 
 *    */
