/**
 *  Hero
 */
.hero {
  @include bgi("hero_bg.png", 880px);
  @include flexcen();
  text-align: center;
  @media (max-width: 992px) {
    min-height: 770px;
  }
  @media (max-width: 576px) {
    min-height: 440px;
  }
  h1 {
    padding-bottom: 50px;
    @media (max-width: 576px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  p {
    max-width: 600px;
    padding-bottom: 50px;
    @media (max-width: 576px) {
      padding-bottom: 25px;
    }
  }
  a {
    @media (max-width: 576px) {
    }
  }
}

/**
 *  About
 */
.about {
  $padding-lr: 170px;
  padding: 140px 0 210px;
  h2 {
    padding-bottom: 75px;
    padding-right: $padding-lr;
    text-align: end;
  }
  .about-history {
    @include bgio("about_bg.png", calc(100% - 170px), no-repeat, contain);
    position: relative;
    padding-left: $padding-lr;
    padding-bottom: 100px;
    p {
      margin-left: 0;
      background-color: $white-color;
      max-width: 330px;
      padding-right: 70px;
      padding-bottom: 90px;
    }
    a {
      margin-left: 0;
      padding: 70px 0 0;
    }
    .about-image {
      padding-right: $padding-lr;
      position: absolute;
      top: 50%;
      right: -85px;
      transform: translate(0, -50%);
    }
  }
  @media (max-width: 1200px) {
    padding: 100px 0 220px;
    .about-history {
      padding-left: 100px;
      background-position: 100%;
      a {
        padding: 0;
      }
      .about-image {
        padding-right: 0;
        top: auto;
        bottom: 0;
        right: 0;
        transform: translate(0, 0);
      }
    }
  }
  @media (max-width: 992px) {
    .about-history {
      padding-left: $padding-lr;
      background-size: cover;
      p {
        background-color: transparent;
        padding: 15px;
        color: $white-color;
        margin: 0 auto;
      }
      a {
        color: $white-color;
        margin: 0 auto;
        padding: 15px;
      }
      .about-image {
        position: relative;
        text-align: center;
      }
    }
  }
  @media (max-width: 576px) {
    .about-history {
      padding: 15px;
    }
    img {
      width: 100%;
    }
  }
}

/**
 *  team
 */
.team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &-history {
    margin-right: 0;
    padding-top: 135px;
    width: 39%;
    height: min-content;
    @include bgio("team_bg.png", right);
    h2,
    p,
    a {
      margin: 0 110px;
      @media (max-width: 1200px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    h2 {
      padding-bottom: 30px;
    }
    p {
      max-width: 335px;
      padding-bottom: 35px;
    }
    a {
      padding-bottom: 170px;
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
  &-photo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 150px 0 0;
    width: 61%;
    @media (max-width: 1200px) {
      margin: 0 auto;
      width: 100%;
    }
  }
}

.team-person {
  width: 50%;
  position: relative;
  height: min-content;
  &:nth-child(2) h4 {
    color: $black-color;
  }
  h4 {
    position: absolute;
    top: 54px;
    left: 54px;
  }
  img {
    width: 100%;
  }
  @media (max-width: 576px) {
    width: 100%;
    margin: 0 20px;
    h4 {
      position: absolute;
      top: 15px;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

/**
 *  tech
 */
.tech {
  padding: 145px 0 215px;
  h2 {
    text-align: center;
    padding-bottom: 60px;
    @media (max-width: 576px) {
      padding-bottom: 30px;
    }
  }
  &-content {
    display: inline-flex;
    width: 100%;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 992px) {
    padding: 100px 0 150px;
  }
  @media (max-width: 576px) {
    padding: 50px 0;
  }
}

.tech-history {
  &:first-child {
    margin-right: 0;
    img {
      padding-left: 40px;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
  &:last-child {
    margin-left: 0;
    img {
      padding-top: 80px;
      @media (max-width: 576px) {
        padding-top: 40px;
      }
    }
  }
  h3 {
    padding-top: 40px;
    padding-bottom: 25px;
    @media (max-width: 576px) {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }
  p {
    margin-left: 0;
    max-width: 400px;
    padding-right: 80px;
  }
  @media (max-width: 1200px) {
    img {
      max-width: 100%;
    }
  }
}

/**
 *  portfolio
 */
.port {
  display: flex;
  flex-wrap: wrap;
  .port-history {
    margin: 0;
    width: 33.3%;
    min-height: 430px;
    h2,
    p {
      color: $white-color;
      max-width: 520px;
      margin-left: 85px;
      @media (max-width: 1200px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
      }
    }
    h2 {
      padding-bottom: 25px;
    }
    h3 {
      padding-top: 75px;
      margin-left: 75px;
      max-width: 350px;
      font-size: 24px;
      color: $black-color;
      @media (max-width: 992px) {
        padding-top: 30px;
        margin-left: 35px;
      }
    }
    div {
      height: 100%;
    }
    img {
      position: static;
    }

    @media (max-width: 992px) {
      min-height: 380px;
      width: 50%;
    }
    @media (max-width: 576px) {
      min-height: 320px;
      width: 100%;
    }
  }
}

.port-history {
  &:first-child {
    padding: 120px 0 100px;
    width: 50%;
    @include bgio("portfolio_bg.png");
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 576px) {
      padding: 50px 0;
      min-height: auto;

      h2 {
        text-align: center;
      }
      p {
        max-width: 300px;
      }
    }
  }
  &:nth-child(2) {
    background-color: $white-color;
    width: 50%;
    @include bgio("portfolio-1.jpg");

    @media (max-width: 576px) {
      width: 100%;
    }
  }
  &:nth-child(3) {
    background-color: $white-color;
    @include bgio("portfolio-2.jpg");
  }
  &:nth-child(4) {
    background-color: $violet-light-background-color;
    @include bgio("portfolio-3.jpg");
  }
  &:nth-child(5) {
    background-color: $violet-background-color;
    @include bgio("portfolio-4.jpg");
  }
}

/** 
 *  video
 */
.port-video {
  padding: 140px 0 155px;
  @media (max-width: 992px) {
    padding: 100px 0;
  }
  @media (max-width: 576px) {
    padding: 50px 0;
  }
}
.video-content {
  @include flexcen(center, stretch);
  flex-wrap: wrap;
  div {
    width: 50%;
    position: relative;
    text-align: center;
    p {
      max-width: 380px;
      margin-right: 100px;
      text-align: start;
    }
    object[data*="play"] {
      @include abscen();
    }
    img {
      width: 100%;
    }
    @media (max-width: 1200px) {
      p {
        padding: 10px;
        margin-right: auto;
      }
    }
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}

/**
 *    Press
 */
.press {
  @include bgi("press_bg.png", auto);
  padding: 160px 0;
  display: grid;
  grid-template-columns: 55fr 88fr;
  &-home {
    h2 {
      padding-bottom: 45px;
    }
    p {
      max-width: 300px;
      // padding-left: 130px;
      // padding-right: 130px;
    }
  }
  &-history {
    p {
      font-size: 21px;
      font-weight: bold;
      line-height: normal;
    }
  }
}

/* 
 *    */

.press {
  display: none;
}
